.Letter .LetterText {
    position: relative;
    font-size: 20px;
    top: 50%;
    transform: translate(0%, 22%);
    font-family: sans-serif;
    font-weight: normal;
  }
  
  .Letter {
      min-width: 30px;
      min-height: 30px;
      margin-right: 3px;
      margin-bottom: 3px;
      display: inline-block;
      text-align: center;
      border-width: 2px;
      border-color: black;
      border-radius: 10%;
      color: black;
      font-weight: bold;
      background: linear-gradient(0deg, #f0e8d7, #e9ddc5);
  }