.App {
  text-align: center;
}

.Letters {
  margin: auto;
  width: 100%;
  height: 500px;
}

.Letter {
  min-width: 50px;
  min-height: 50px;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-width: 1px;
  border-color: black;
  background: beige;
  color: black;
  font-weight: bold;
}

.Button {
  margin: auto;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background: green;
}

.Board {
  height: 300px;
}

.WordBuilder {
  height: 150px;
}