.App {
  text-align: center;
}

.Letters {
  margin: auto;
  width: 100%;
}

.Letter {
  min-width: 50px;
  min-height: 50px;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-width: 1px;
  border-color: black;
  background: beige;
  color: black;
  font-weight: bold;
}